.product-form{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.product-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.product-form p{
    font-size: 20px;
    margin: 15px 0;
}

.product-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.product-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}
.product-form button:hover{
    background-color: rgb(62, 62, 202);
    color: #fff;
    transition: all 0.3s ease-in-out;
}